*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Raleway';
}

html {
  background-image: url('https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80');
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 50px 100px 100px;
  grid-template-areas: 
  "header header header header"
  " . nav nav . "
  "form form . list"
  "display display . list";
  justify-content: center;
  grid-gap: 15px 10px;

  .item_header {
    grid-area: header;
    justify-self: center;
    align-self: center;
  }
  
  .item_form {
    grid-area: form;
    justify-self: center;
  }
  
  .item_list {
    grid-area: list;
    justify-self: center;
  }
  
  .item_display {
    grid-area: display;
    justify-self: center;
  }

  .item_nav {
    grid-area: nav;
    justify-self: center;
    align-self: center;
    border: 1px solid black;

    .nav_item {
      margin: 20px 20px;
      padding: 10px 10px;
    }
  }
}