.form_container {
  margin: 4% 4%;
  padding: 1% 1%;
  // border: 1px solid black;
  // display: inline-block;
  float: left;

  .form_input {
    // display: inline-block;
    color: rgb(10, 122, 150);
  }

  button {
    background-color: rgb(76, 152, 175); 
    border: none;
    color: white;
    padding: 3%% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: white; 
    border: 0.1px solid rgb(76, 152, 175);
    color: rgb(76, 152, 175);
  }
}